<html>
<link rel="stylesheet" href="./style/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
<style>
    body {
        direction: rtl;
    }

    .error {
        color: red;
        font-weight: 300;

    }

    @-webkit-keyframes blinker {
        from {
            opacity: 1.0;
        }
        to {
            opacity: 0.0;
        }
    }

    .blink {
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
    }
</style>

<body>
    <div id="app" class="container">
        <h1>דו"ח גביה</h1>
        <div class="row">
            <div class="input-group mb-3 col-sm-4">

                <input id="reportDate" v-model="reportDate" type="date" required class="form-control" v-on:blur="getCompaniesByReportDate">
                <div class="input-group-append">
                    <button id="btnGetCompany" @click="getCompaniesByReportDate" class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-angle-left"></i>
                    </button>
                </div>

            </div>
            <span v-if="isLoadingCompanyList" class="blink">
                טוען ...
            </span>
            <span v-if="errorLoadingCompanyList" class="alert alert-danger" role="alert">
                שגיאה
            </span>
        </div>
        <div class="row" v-if="!isLoadingCompanyList && companyList.length ">
            <button id="btnGetZip" @click="downloadZip" class="btn btn-link" v-bind:class="{ blink: isDownloadingZip }">download zip</button>
            <button id="btnGetZip" @click="selectAll" class="btn btn-link">בחר הכל</button>
            <button id="btnGetZip" @click="unSelectAll" class="btn btn-link">הסר בחירה</button>

            <span v-if="errorDownloadingZip" class="alert alert-danger" role="alert">
                שגיאה בהפקת קובץ
            </span>
        </div>
        <div class="row" v-if="!isLoadingCompanyList">
            <div class="list-group">
                <div id="company " v-for="company in companyList" class="list-group-item">

                    <input type="checkbox" v-model="company.includeInZip" />

                    <!-- <span>{{company.key}} </span>| -->

                    <!-- <span>{{company.code}} </span> -->

                    <button @click="downloadReport(company.key)" class="btn btn-link" v-bind:class="{ blink: company.isDownloadingSingleReport }">
                        <i class="fas fa-arrow-down"></i>
                    </button>

                    <span class="col-md-4">{{company.name}} </span>

                    <span v-if="company.errorDownloadingSingleReport" class="alert alert-danger" role="alert">
                        שגיאה בהפקת קובץ
                    </span>
                </div>
            </div>
        </div>
        <div class="row" v-if="errorNotFoundCompany">
            <span>
                לא בוצעה גביה ביום {{reportDate}}
            </span>
        </div>

    </div>



    <script src="./js/externals/jquery-3.2.1.slim.min.js"></script>
    <script src="./js/externals/popper.min.js"></script>
    <script src="./js/externals/bootstrap.min.js"></script>
    <script src="./js/externals/vue.js"></script>
    <script src="js/services.js"></script>
    <script>     


        var app = new Vue({
            el: '#app',
            data: {
                companyList: [],
                reportDate: '',
                isLoadingCompanyList: false,
                errorLoadingCompanyList: false,
                isDownloadingZip: false,
                errorDownloadingZip: false,
                errorNotFoundCompany: false,
            },
            methods: {
                getCompaniesByReportDate: function () {
                    const self = this;
                    self.isLoadingCompanyList = true;
                    self.errorLoadingCompanyList = false;
                    self.errorDownloadingZip = false;
                    service.getCompaniesByReportDate(self.reportDate)
                        .then(data => {
                            self.companyList = data.sort((c1, c2) => {
                                return c1.name.localeCompare(c2.name);
                            }).map(company => {
                                company.includeInZip = true;
                                company.isDownloadingSingleReport = false;
                                company.errorDownloadingSingleReport = false;
                                return company;
                            });
                            self.errorNotFoundCompany = !self.companyList.length;
                        })
                        .catch(ex => {
                            self.errorLoadingCompanyList = true;
                        })
                        .finally(() => {
                            self.isLoadingCompanyList = false;
                        });
                },
                downloadReport: function (companyKey) {
                    const self = this;
                    const company = this.companyList.find(company => company.key == companyKey);
                    company.isDownloadingSingleReport = true;
                    company.errorDownloadingSingleReport = false;
                    service.getReportFile(companyKey, this.reportDate)
                        .catch(ex => {
                            company.errorDownloadingSingleReport = true;
                        }).finally(() => {
                            company.isDownloadingSingleReport = false;
                        });
                },
                downloadZip: function () {
                    const companyKeyList = this.companyList.filter(company => company.includeInZip).map(company => company.key);
                    const self = this;
                    this.isDownloadingZip = true;
                    this.errorDownloadingZip = false;
                    service.getReportsZipFile(companyKeyList, this.reportDate)
                        .catch(ex => {
                            self.errorDownloadingZip = true;
                        }).finally(() => {
                            self.isDownloadingZip = false;
                        });
                },
                unSelectAll: function () {
                    this.companyList.forEach(company => company.includeInZip = false);
                },
                selectAll: function () {
                    this.companyList.forEach(company => company.includeInZip = true);
                }
            }
        });

    </script>
</body>

</html>